/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.Button.ActionButton {
    background-color: aquamarine;
    }

.MainHeader {
background-color: aquamarine;
}

.Header.Items {
    background-color: aquamarine;
    }